@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jhgaqi');
  src:  url('fonts/icomoon.eot?jhgaqi#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jhgaqi') format('truetype'),
    url('fonts/icomoon.woff?jhgaqi') format('woff'),
    url('fonts/icomoon.svg?jhgaqi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user-icon .path1:before {
  content: "\e96e";
  color: rgb(79, 195, 247);
}
.icon-user-icon .path2:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(255, 152, 0);
}
.icon-user-icon .path3:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(255, 167, 38);
}
.icon-user-icon .path4:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(255, 167, 38);
}
.icon-user-icon .path5:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(255, 183, 77);
}
.icon-user-icon .path6:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(66, 66, 66);
}
.icon-user-icon .path7:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(120, 71, 25);
}
.icon-user-icon .path8:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(120, 71, 25);
}
.icon-user-icon .path9:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(1, 87, 155);
}
.icon-qr-icon:before {
  content: "\e96d";
  color: #3f51b5;
}
.icon-search-icon .path1:before {
  content: "\e969";
  color: rgb(182, 201, 214);
}
.icon-search-icon .path2:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(120, 139, 156);
}
.icon-search-icon .path3:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(209, 237, 255);
}
.icon-search-icon .path4:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(120, 139, 156);
}
.icon-delete-icon .path1:before {
  content: "\e95d";
  color: rgb(159, 168, 218);
}
.icon-delete-icon .path2:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(121, 134, 203);
}
.icon-delete-icon .path3:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(121, 134, 203);
}
.icon-delete-icon .path4:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(121, 134, 203);
}
.icon-delete-icon .path5:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(92, 107, 192);
}
.icon-delete-icon .path6:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(92, 107, 192);
}
.icon-delete-icon .path7:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(92, 107, 192);
}
.icon-edit-icon .path1:before {
  content: "\e964";
  color: rgb(229, 115, 115);
}
.icon-edit-icon .path2:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(255, 152, 0);
}
.icon-edit-icon .path3:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(176, 190, 197);
}
.icon-edit-icon .path4:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(255, 193, 7);
}
.icon-edit-icon .path5:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(55, 71, 79);
}
.icon-visits-icon .path1:before {
  content: "\e956";
  color: rgb(63, 81, 181);
}
.icon-visits-icon .path2:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-visits-icon .path3:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-visits-icon .path4:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-visits-icon .path5:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-visits-icon .path6:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-visits-icon .path7:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-appointments-icon .path1:before {
  content: "\e900";
  color: rgb(187, 222, 251);
}
.icon-appointments-icon .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-appointments-icon .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-appointments-icon .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-appointments-icon .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-appointments-icon .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-appointments-icon .path7:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(238, 238, 238);
}
.icon-appointments-icon .path8:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(63, 81, 181);
}
.icon-appointments-icon .path9:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-appointments-icon .path10:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-appointments-icon .path11:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-appointments-icon .path12:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-appointments-icon .path13:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-appointments-icon .path14:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(0, 172, 193);
}
.icon-appointments-icon .path15:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-cards-icon .path1:before {
  content: "\e90f";
  color: rgb(63, 81, 181);
}
.icon-cards-icon .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 193, 7);
}
.icon-cards-icon .path3:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(159, 168, 218);
}
.icon-countries-icon .path1:before {
  content: "\e912";
  color: rgb(93, 64, 55);
}
.icon-countries-icon .path2:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(144, 202, 249);
}
.icon-countries-icon .path3:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(141, 110, 99);
}
.icon-countries-icon .path4:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(30, 136, 229);
}
.icon-countries-icon .path5:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(30, 136, 229);
}
.icon-countries-icon .path6:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(30, 136, 229);
}
.icon-countries-icon .path7:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(30, 136, 229);
}
.icon-countries-icon .path8:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(30, 136, 229);
}
.icon-countries-icon .path9:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(30, 136, 229);
}
.icon-countries-icon .path10:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(121, 85, 72);
}
.icon-countries-icon .path11:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(121, 85, 72);
}
.icon-diseases-icon .path1:before {
  content: "\e91d";
  color: rgb(76, 175, 80);
}
.icon-diseases-icon .path2:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(46, 125, 50);
}
.icon-diseases-icon .path3:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(76, 175, 80);
}
.icon-diseases-icon .path4:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(139, 195, 74);
}
.icon-diseases-icon .path5:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(139, 195, 74);
}
.icon-diseases-icon .path6:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(139, 195, 74);
}
.icon-diseases-icon .path7:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(197, 225, 165);
}
.icon-diseases-icon .path8:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(241, 248, 233);
}
.icon-diseases-icon .path9:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(220, 237, 200);
}
.icon-inventory-icon .path1:before {
  content: "\e926";
  color: rgb(207, 216, 220);
}
.icon-inventory-icon .path2:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(176, 190, 197);
}
.icon-inventory-icon .path3:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(69, 90, 100);
}
.icon-inventory-icon .path4:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(227, 242, 253);
}
.icon-inventory-icon .path5:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(30, 136, 229);
}
.icon-inventory-icon .path6:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(144, 164, 174);
}
.icon-inventory-icon .path7:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(85, 139, 47);
}
.icon-inventory-icon .path8:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(85, 139, 47);
}
.icon-inventory-icon .path9:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(85, 139, 47);
}
.icon-inventory-icon .path10:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(124, 179, 66);
}
.icon-inventory-icon .path11:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(124, 179, 66);
}
.icon-inventory-icon .path12:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(124, 179, 66);
}
.icon-inventory-icon .path13:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(124, 179, 66);
}
.icon-inventory-icon .path14:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(255, 160, 0);
}
.icon-inventory-icon .path15:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(255, 160, 0);
}
.icon-inventory-icon .path16:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(255, 160, 0);
}
.icon-inventory-icon .path17:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(255, 160, 0);
}
.icon-inventory-icon .path18:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(255, 193, 7);
}
.icon-inventory-icon .path19:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(255, 193, 7);
}
.icon-inventory-icon .path20:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(255, 193, 7);
}
.icon-inventory-icon .path21:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(255, 193, 7);
}
.icon-overview-icon .path1:before {
  content: "\e93b";
  color: rgb(0, 188, 212);
}
.icon-overview-icon .path2:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(0, 188, 212);
}
.icon-overview-icon .path3:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(0, 188, 212);
}
.icon-overview-icon .path4:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(63, 81, 181);
}
.icon-overview-icon .path5:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(63, 81, 181);
}
.icon-pets-icon .path1:before {
  content: "\e940";
  color: rgb(176, 190, 197);
}
.icon-pets-icon .path2:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(176, 190, 197);
}
.icon-pets-icon .path3:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(176, 190, 197);
}
.icon-pets-icon .path4:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(207, 216, 220);
}
.icon-pets-icon .path5:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(207, 216, 220);
}
.icon-pets-icon .path6:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(207, 216, 220);
}
.icon-pets-icon .path7:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(204, 108, 37);
}
.icon-pets-icon .path8:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(137, 68, 21);
}
.icon-pets-icon .path9:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(62, 39, 35);
}
.icon-pets-icon .path10:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(93, 64, 55);
}
.icon-pets-icon .path11:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(109, 53, 15);
}
.icon-pets-icon .path12:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(109, 53, 15);
}
.icon-syringe-icon .path1:before {
  content: "\e94c";
  color: rgb(255, 61, 0);
}
.icon-syringe-icon .path2:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(120, 144, 156);
}
.icon-syringe-icon .path3:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(144, 202, 249);
}
.icon-syringe-icon .path4:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(30, 136, 229);
}
.icon-syringe-icon .path5:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(30, 136, 229);
}
.icon-syringe-icon .path6:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(30, 136, 229);
}
.icon-syringe-icon .path7:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(30, 136, 229);
}
.icon-syringe-icon .path8:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(30, 136, 229);
}
.icon-vet-centers-icon .path1:before {
  content: "\e954";
  color: rgb(244, 67, 54);
}
.icon-vet-centers-icon .path2:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
